
@{
    ViewBag.Title = "Thank for your registration";
}

<h2>Thank you for your registration.</h2>

<p style="font-weight:bold; color:green;">
    Please check your Email to active your account. If you do not receive the confirmation message within a few minutes of signing up, please check your Spam or Bulk E-Mail folder just in case the confirmation email got delivered there instead of your inbox. If so, select the confirmation message and mark it Not Spam, which should allow future messages to get through.
</p>