@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    The aim of this project is to develop an easy and efficient online application system to apply for M.Sc in Computer Science degree
    under the Maharishi University of Management.
</p>
