@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Maharishi University of Management<br />
    1000 N 4th St, Fairfield, Iowa-52557<br />
    <abbr title="Phone">P:</abbr>
    641.472.1153
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mscs_mum@mum.edu">mscs_mum@mum.edu</a><br />
</address>